<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>WebSocket群聊</title>
  <meta charset="UTF-8" />
    <title>My WebSocket</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="comment">聊天框:</label> <textarea class="form-control" rows="5" id="text">你好啊</textarea>
        </div>
        <div class="form-group">
          <button onclick="send()" type="button" class="btn btn-primary">发送</button>
          <button onclick="closeWebSocket()" type="button" class="btn btn-danger">关闭</button>
        </div>
        <div>
          <ul class="list-group" id="message"></ul>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
  var websocket = null;

  // 判断当前浏览器是否支持 WebSocket
  if ('WebSocket' in window) {
    websocket = new WebSocket("ws://127.0.0.1:8089/websocket")

    // 连接成功的回调方法
    websocket.onopen = function (event) {
      console.log('与服务器连接成功....')
      setMessageInnerHTML("与服务器连接成功.")
    }

    // 连接关闭的回调方法
    websocket.onclose = function () {
      setMessageInnerHTML("已关闭当前连接")
    }

    // 连接发生错误的回调方法
    websocket.onerror = function () {
      setMessageInnerHTML("与服务器连接失败")
    }

    // 接收到消息的回调方法
    websocket.onmessage = function (event) {
      setMessageInnerHTML(event.data)
    }

    window.onbeforeunload = function () {
      websocket.close()
    }
  } else {
    console.log("未支持WebSocket")
  }

  function setMessageInnerHTML(message) {
    $("#message").append("<li class='list-group-item'>" + message + "</li>")
  }

  /**
   * 发送消息
   */
  function send() {
    websocket.send($("#text").val())
  }

  /**
   * 关闭连接
   */
  function closeWebSocket() {
    websocket.close()
  }
</script>
</body>
</html>